nodered/flow01.json
[{"id":"73468fb.51a8af","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"bbda3f3b.6f71b8","type":"websocket in","z":"73468fb.51a8af","name":"proceso","server":"","client":"ee54c9ab.1705e","x":320,"y":180,"wires":[["b5a1af4.99a1ad","29192033.517cd8"]]},{"id":"1c04bdfa.08145a","type":"websocket out","z":"73468fb.51a8af","name":"send state","server":"","client":"ee54c9ab.1705e","x":530,"y":100,"wires":[]},{"id":"d8f72f8f.4c3fb","type":"inject","z":"73468fb.51a8af","name":"state","topic":"","payload":"state","payloadType":"str","repeat":"4","crontab":"","once":true,"onceDelay":"1","x":290,"y":40,"wires":[["1c04bdfa.08145a","c45e9015.7902f8"]]},{"id":"b5a1af4.99a1ad","type":"debug","z":"73468fb.51a8af","name":"console","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","x":550,"y":280,"wires":[]},{"id":"c45e9015.7902f8","type":"debug","z":"73468fb.51a8af","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":550,"y":40,"wires":[]},{"id":"29192033.517cd8","type":"file","z":"73468fb.51a8af","name":"","filename":"/home/lmpizarro/envPy3/src/asyn/redis/test.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","x":700,"y":180,"wires":[[]]},{"id":"ee54c9ab.1705e","type":"websocket-client","z":"","path":"ws://127.0.0.1:9001/state","tls":"","wholemsg":"false"}]
